#div1 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 0;
}

#div2 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 10px;
}

#div3 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 15px;
}

#div4 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 20px;
}

#div5 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 25px;
}

#div6 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 30px;
}

#div7 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 35px;
}

#div8 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 40px;
}

#div9 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 45px;
}

#div10 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 50px;
}

#div11 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

#div12 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#div13 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

#div14 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#div15 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}

#div16 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

#div17 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
}

#div18 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}

#div19 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
    margin-left: 45px;
}

#div20 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

#div21 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 10px 100px;
}

#div22 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 20px 90px;
}

#div23 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 30px 80px;
}

#div24 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 40px 70px;
}

#div25 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 50px 60px;
}

#div26 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 60px 50px;
}

#div27 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 70px 40px;
}

#div28 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 80px 30px;
}

#div29 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 90px 20px;
}

#div30 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 100px 10px;
}

#div31 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: 100px;
}

#div32 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-right: 90px;
    margin-bottom: 20px;
    margin-left: 90px;
}

#div33 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-right: 80px;
    margin-bottom: 30px;
    margin-left: 80px;
}

#div34 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-right: 70px;
    margin-bottom: 40px;
    margin-left: 70px;
}

#div35 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-right: 60px;
    margin-bottom: 50px;
    margin-left: 60px;
}

#div36 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 60px;
    margin-right: 50px;
    margin-bottom: 60px;
    margin-left: 50px;
}

#div37 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 70px;
    margin-right: 40px;
    margin-bottom: 70px;
    margin-left: 40px;
}

#div38 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 80px;
    margin-right: 30px;
    margin-bottom: 80px;
    margin-left: 30px;
}

#div39 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 90px;
    margin-right: 20px;
    margin-bottom: 90px;
    margin-left: 20px;
}

#div40 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 100px;
    margin-right: 10px;
    margin-bottom: 100px;
    margin-left: 10px;
}

#div41 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 5px 10px 100px;
}

#div42 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 10px 20px 90px;
}

#div43 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 15px 30px 80px;
}

#div44 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 20px 40px 70px;
}

#div45 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 25px 50px 60px;
}

#div46 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 30px 60px 50px;
}

#div47 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 35px 70px 40px;
}

#div48 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 40px 80px 30px;
}

#div49 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 45px 90px 20px;
}

#div50 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 50px 100px 10px;
}

#div51 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 100px;
    margin-left: 10px;
}

#div52 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 90px;
    margin-left: 20px;
}

#div53 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 80px;
    margin-left: 30px;
}

#div54 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 70px;
    margin-left: 40px;
}

#div55 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 60px;
    margin-left: 50px;
}

#div56 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-right: 60px;
    margin-bottom: 50px;
    margin-left: 60px;
}

#div57 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 35px;
    margin-right: 70px;
    margin-bottom: 40px;
    margin-left: 70px;
}

#div58 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-right: 80px;
    margin-bottom: 30px;
    margin-left: 80px;
}

#div59 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 45px;
    margin-right: 90px;
    margin-bottom: 20px;
    margin-left: 90px;
}

#div60 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: 100px;
}

#div61 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 5px 50px 10px 100px;
}

#div62 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 10px 45px 20px 90px;
}

#div63 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 15px 40px 30px 80px;
}

#div64 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 20px 35px 40px 70px;
}

#div65 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 25px 30px 50px 60px;
}

#div66 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 30px 25px 60px 50px;
}

#div67 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 35px 20px 70px 40px;
}

#div68 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 40px 15px 80px 30px;
}

#div69 {
    background: gray;
    width: 150px;
    height: 150px;
    margin: 45px 10px 90px 20px;
}

#div70 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin: 50px 5px 100px 10px;
}

#div71 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 5px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 100px;
}

#div72 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-right: 45px;
    margin-bottom: 20px;
    margin-left: 90px;
}

#div73 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 80px;
}

#div74 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-right: 35px;
    margin-bottom: 40px;
    margin-left: 70px;
}

#div75 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 60px;
}

#div76 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-right: 25px;
    margin-bottom: 60px;
    margin-left: 50px;
}

#div77 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 35px;
    margin-right: 20px;
    margin-bottom: 70px;
    margin-left: 40px;
}

#div78 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-right: 15px;
    margin-bottom: 80px;
    margin-left: 30px;
}

#div79 {
    background: gray;
    width: 150px;
    height: 150px;
    margin-top: 45px;
    margin-right: 10px;
    margin-bottom: 90px;
    margin-left: 20px;
}

#div80 {
    background: lightgray;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-right: 5px;
    margin-bottom: 100px;
    margin-left: 10px;
}