#p1 {
    color: black;
}

#p2 {
    color: gray;
}

#p3 {
    color: aquamarine;
}

#p4 {
    color: blueviolet;
}

#p5 {
    color: darkmagenta;
}

#p6 {
    color: darkred;
}

#p7 {
    color: deeppink;
}

#p8 {
    color: purple;
}

#p9 {
    color: indianred;
}

#p10 {
    color: khaki;
}