#p1 {
    font-family: 'Times New Roman';
}

#p2 {
    font-family: 'Franklin Gothic Medium';
}

#p3 {
    font-family: sans-serif;
}

#p4 {
    font-family: Tahoma;
}

#p5 {
    font-family: Impact;
}

#p6 {
    font-family: Arial, Helvetica, sans-serif;
}

#p7 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#p8 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#p9 {
    font-family: 'Courier New', Courier, monospace;
}

#p10 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}