#p1 {
    font-size: 16px;
}

#p2 {
    font-size: 7px;
}

#p3 {
    font-size: 10px;
}

#p4 {
    font-size: 15px;
}

#p5 {
    font-size: 23px;
}

#p6 {
    font-size: 35px;
}

#p7 {
    font-size: 53px;
}

#p8 {
    font-size: 80px;
}

#p9 {
    font-size: 120px;
}

#p10 {
    font-size: 180px;
}