#p1 {
    line-height: normal;
}

#p2 {
    line-height: 3px;
}

#p3 {
    line-height: 10px;
}

#p4 {
    line-height: 30px;
}

#p5 {
    line-height: 80px;
}

#p6 {
    line-height: 10%;
}

#p7 {
    line-height: 20%;
}

#p8 {
    line-height: 100%;
}

#p9 {
    line-height: 300%;
}

#p10 {
    line-height: 800%;
}

#p11 {
    line-height: 1;
}

#p12 {
    line-height: 1.15;
}

#p13 {
    line-height: 1.5;
}

#p14 {
    line-height: 2;
}

#p15 {
    line-height: 2.5;
}
