#div0 {
    background: gray;
    width: 50px;
}

#div1 {
    background: gray;
    width: 50px;
    height: 100px;
}

#div2 {
    background: gray;
    width: 100px;
    height: 100px;
}

#div3 {
    background: gray;
    width: 150px;
    height: 100px;
}

#div4 {
    background: gray;
    width: 200px;
    height: 100px;
}

#div5 {
    background: gray;
    width: 250px;
    height: 100px;
}

#div6 {
    background: gray;
    width: 300px;
    height: 100px;
}

#div7 {
    background: gray;
    width: 350px;
    height: 100px;
}

#div8 {
    background: gray;
    width: 400px;
    height: 100px;
}

#div9 {
    background: gray;
    width: 450px;
    height: 100px;
}

#div10 {
    background: gray;
    width: 500px;
    height: 100px;
}

#div11 {
    background: gray;
    width: 10%;
    height: 100px;
}

#div12 {
    background: gray;
    width: 20%;
    height: 100px;
}

#div13 {
    background: gray;
    width: 30%;
    height: 100px;
}

#div14 {
    background: gray;
    width: 40%;
    height: 100px;
}

#div15 {
    background: gray;
    width: 50%;
    height: 100px;
}

#div16 {
    background: gray;
    width: 60%;
    height: 100px;
}

#div17 {
    background: gray;
    width: 70%;
    height: 100px;
}

#div18 {
    background: gray;
    width: 80%;
    height: 100px;
}

#div19 {
    background: gray;
    width: 90%;
    height: 100px;
}

#div20 {
    background: gray;
    width: 100%;
    height: 100px;
}

.container_div {
    background: lightgray;
    width: 300px;
    height: 300px;
}

#div21 {
    background: gray;
    width: 10%;
}

#div22 {
    background: gray;
    width: 10%;
    height: 100px;
}

#div23 {
    background: gray;
    width: 20%;
    height: 100px;
}

#div24 {
    background: gray;
    width: 30%;
    height: 100px;
}

#div25 {
    background: gray;
    width: 40%;
    height: 100px;
}

#div26 {
    background: gray;
    width: 50%;
    height: 100px;
}

#div27 {
    background: gray;
    width: 60%;
    height: 100px;
}

#div28 {
    background: gray;
    width: 70%;
    height: 100px;
}

#div29 {
    background: gray;
    width: 80%;
    height: 100px;
}

#div30 {
    background: gray;
    width: 90%;
    height: 100px;
}

#div31 {
    background: gray;
    width: 100%;
    height: 100px;
}