#div0 {
    background: gray;
    height: 50px;
}

#div1 {
    background: gray;
    height: 50px;
    width: 100px;
}

#div2 {
    background: gray;
    height: 100px;
    width: 100px;
}

#div3 {
    background: gray;
    height: 150px;
    width: 100px;
}

#div4 {
    background: gray;
    height: 200px;
    width: 100px;
}

#div5 {
    background: gray;
    height: 250px;
    width: 100px;
}

#div6 {
    background: gray;
    height: 300px;
    width: 100px;
}

#div7 {
    background: gray;
    height: 350px;
    width: 100px;
}

#div8 {
    background: gray;
    height: 400px;
    width: 100px;
}

#div9 {
    background: gray;
    height: 450px;
    width: 100px;
}

#div10 {
    background: gray;
    height: 500px;
    width: 100px;
}

html, body {
    height: 100%;
}

#div11 {
    background: gray;
    height: 10%;
    width: 100px;
}

#div12 {
    background: gray;
    height: 20%;
    width: 100px;
}

#div13 {
    background: gray;
    height: 30%;
    width: 100px;
}

#div14 {
    background: gray;
    height: 40%;
    width: 100px;
}

#div15 {
    background: gray;
    height: 50%;
    width: 100px;
}

#div16 {
    background: gray;
    height: 60%;
    width: 100px;
}

#div17 {
    background: gray;
    height: 70%;
    width: 100px;
}

#div18 {
    background: gray;
    height: 80%;
    width: 100px;
}

#div19 {
    background: gray;
    height: 90%;
    width: 100px;
}

#div20 {
    background: gray;
    height: 100%;
    width: 100px;
}

.container_div {
    background: lightgray;
    height: 300px;
    width: 300px;
}

#div21 {
    background: gray;
    height: 10%;
}

#div22 {
    background: gray;
    height: 10%;
    width: 100px;
}

#div23 {
    background: gray;
    height: 20%;
    width: 100px;
}

#div24 {
    background: gray;
    height: 30%;
    width: 100px;
}

#div25 {
    background: gray;
    height: 40%;
    width: 100px;
}

#div26 {
    background: gray;
    height: 50%;
    width: 100px;
}

#div27 {
    background: gray;
    height: 60%;
    width: 100px;
}

#div28 {
    background: gray;
    height: 70%;
    width: 100px;
}

#div29 {
    background: gray;
    height: 80%;
    width: 100px;
}

#div30 {
    background: gray;
    height: 90%;
    width: 100px;
}

#div31 {
    background: gray;
    height: 100%;
    width: 100px;
}