@import url('./3.external_fonts_with_font_face_at_rule_fonts.css');

#p1 {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: normal;
}

#p2 {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: italic;
}

#p3 {
    font-family: 'Montserrat';
    font-weight: 200;
    font-style: normal;
}

#p4 {
    font-family: 'Montserrat';
    font-weight: 200;
    font-style: italic;
}

#p5 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
}

#p6 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: italic;
}

#p7 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}

#p8 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: italic;
}

#p9 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
}

#p10 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: italic;
}

#p11 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
}

#p12 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: italic;
}

#p13 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
}

#p14 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: italic;
}

#p15 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: normal;
}

#p16 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: italic;
}

#p17 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
}

#p18 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: italic;
}